* , *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
}




.nav-tag {
    width: 300px;
    height: 100%;
    background: #333;
    position: fixed;
    top: 0;
    left: -300px;
    transition: .5s;
    z-index: 10;
}



.container-navs{
    width: inherit;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.close-item{
    background-color: rgb(129, 65, 79);
    margin-left: 70%;
    cursor: pointer;
}

.picture-author{
    width: 70%;
    border-radius: 50% 50% 50% 0;
    
    
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #eee;
    font-size: 1.2em;
    padding: .5rem 0;
}

.nav-item:hover {
    background-color: #555; 
}

.container-bar {
    width: 100%;
    height: 40px;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1;

}

.bar {
    position: inherit;
    padding: 10px;
    cursor: pointer;
    font-size: 1.3em;
    color: #eee;
}

.bar:hover {
    opacity: .5;
}



@media only screen and (min-width: 600px){

    

    .nav-tag{
        width: 220px;
        
    }

    


}